.community-box{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;

}
.start-img , .start-content{
  width: 50%;
}
.start-img img{
  width: 100%;
  border-radius: 5px;
}
.start-content h2{
  font-size: 2rem;
  margin: 2px;
  margin-bottom: 20px;
}
.start-content p{
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 28px;
  margin-bottom: 50px;
}